 *{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin:0;
	padding:0; 
    padding-top: 0;
   
}
nav {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
	font-size: 24px;
	font-weight:bold;
	margin: 0 20px
}
.search{
    position: absolute;
    right: 100px;
    top:20px;  
}
.search input{
    padding: 5px;
    height: 5px;
    width:200px;
}
ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
ul li a{
	display: block;
	padding: 25px 40px;
	color:#f9f0f0;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}
ul li ul.dropdown li{
	display: block;
}
ul li ul.dropdown{
	width: 100%;
	background:#333;
	position:absolute;
	z-index:999;
	display:none;
	transform:translateX(30px);
}
ul li a:hover {
	background-color: rgb(141, 118, 118);
}
ul li:hover ul.dropdown{
	display: block;}
.bg{
    background: url("img/bg4.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:150vh;
}
center{
    margin-top:200px;
    padding: 30px;
    color: #fff;
}
.button{
    width:110;
    height: 38px;
    background-color:rgb(77, 16, 16);
    color: #fff;
}
.search input{
    padding: 8px;
    height: 5px;
    width:200px;
}
.bg p{
    font-size:100px;
    margin-top: 250px;
}
.icons{
    align-items: end;
}
/*------trendy-------------*/

h2{
    text-align: center;
    margin-top:100px;
}
.card{
    box-shadow: 0px 0px 10px black;
    margin-top: 40px;
    transition: 0.6s ease;
    cursor: pointer;
    float: left;
    margin-left:70px;
    margin-bottom:0px;
}
.card:hover{
    transform: translateY(-40px);
}
.col img{
    height: 250px;
    width: 250px;
}
/*---------item----------------*/
#furniture h1{
    text-align: center;
    font-weight:bold;
    margin-top:570px;
    color: #333;
    text-shadow: 1px 1px 1px black;
}
#furniture.card{
    background-color:#333;
    box-shadow: 0 0 3px rgb(57, 56, 56);
    border-radius:10px;
    cursor: pointer;
    margin-right: 0px;
}
#furniture.card:hover{
    opacity:1;
    transition: 0.5s ease;
}
.type{
    text-align: center;  
}
/*-----------footer--------------------*/
.footer{
    text-align:justify;
    background-color:white;
    color: #080808; 
    font-size:25px;
    max-width: 1500px;
    margin: 10px auto;
    margin-top: 600px;

}
.footer h3{  
   
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.location_main{
    text-align: center;
}

.copyright{
    text-align: center;
    background-color: #333;
    color: #fff;
}
